{% load static %}

<nav class="container container--70">
  <ul class="nav--actions">
    {% if user.is_authenticated %}
      <li class="logged-user">
        Witaj {{ user.first_name }}
        <ul class="dropdown">
          <li><a href="{% url 'users:account-detail' %}">Profil</a></li>
          <li><a href="#">Ustawienia</a></li>
          {% if user.is_superuser %}
            <li><a href="/admin/">Panel administracyjny</a></li>
          {% endif %}
          <li><a href="{% url 'users:logout' %}">Wyloguj</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{% url 'users:login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
      <li><a href="{% url 'users:register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    {% endif %}
  </ul>

  <ul>
    <li><a href="/" class="btn btn--without-border active">Start</a></li>
    <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
    <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
    <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
    <li><a href="/form/" class="btn btn--without-border">Przekaż dary</a></li>
    <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
  </ul>
</nav>
