{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block header %}
  <header>
    {{ block.super }}
  </header>
{% endblock header %}

{% block content %}
  <section class="login-page">
    <h2>Profil:</h2>
    <div class="summary" style="font-size: large">
      <h3>Imię: {{ request.user.first_name }}</h3>
      <h3>Nazwisko: {{ request.user.last_name }}</h3>
      <h3>Email: {{ request.user.email }}</h3>
    </div>
  </section>
  <section class="help" style="font-size: medium">
    <table class="customTable">
      <thead>
      <tr>
        <th>Ilość worków</th>
        <th>Nazwa organizacji</th>
        <th>Kategorie</th>
        <th>Data odbioru</th>
      </tr>
      </thead>
      <tbody>
      {% for donation in donations %}
        <tr data-is-taken="{{ donation.is_taken|yesno:"1,0" }}" data-id="{{ donation.pk }}">
          <td>{{ donation.quantity }}</td>
          <td>{{ donation.institution.name }}</td>
          <td>{{ donation.categories.all|join:", " }}</td>
          <td>{{ donation.pick_up_date }} - {{ donation.pick_up_time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
